@import "../../../styles";

header{
  background: white;
  width: 100%;
  max-height: 70px;
  font-family: "Glober-Regular";
  font-size: $tamañoTitulosPequeños;

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 9px 9px 18px 0px rgba(0,0,0,0.35);
    .nav-left{
      width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      a , a:visited{
        cursor: pointer;
        color: $colorTextoGris;
        text-align: center;
        text-decoration: none;
        border-bottom: 3px solid transparent;
      }
      a:hover {
        border-bottom: 3px solid gray;
      }
    }

    .nav-center{
      width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      a {
        text-align: center;
        width: 100%;
        img{
          margin-top: 0;
          width: 70px;
        }
      }
    }

    .nav-right{
      width: 30%;
      //border: 2px solid black;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .login {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
          width: 40px;
        }
      }

      .login{
        color: $colorTextoVerde;
        text-decoration: none;
        cursor: pointer;
      }

      .dropdown-item{
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px){
  header {
    nav {
      justify-content: space-between;
    }
  }

  header {
    nav {
      .nav-right {
        .divisas {
          display: none;
        }
      }
    }
    }

  header {
    nav {
      .nav-center {

      }
    }
  }

  header {
    nav {
      .nav-left {
        display: none;
      }
    }
  }
}

