<header>
  <nav>
    <div class="nav-left">
      <a> Proyectos </a>
      <a *ngIf="!usuario.token"> Nosotros </a>
      <a *ngIf="usuario.token"  [routerLink]="['/new-proyect']" > Nuevo Proyecto </a>
    </div>
    <div class="nav-center">
      <a [routerLink]="['/home']"> <img src="./assets/ico/icono-header.png"> </a>
    </div>
    <div class="nav-right">
      <a class="divisas"> MXN </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">MXN</a>
        <a class="dropdown-item" href="#">USD</a>
      </div>
      <a *ngIf="!usuario.token" [routerLink]="['/login']" class="login"> <img src="./assets/ico/icono-login.png"> Sign In | Registro </a>
      <a *ngIf="usuario.token" (click)="logout()" class="login"> {{ this.usuario.nombre }}</a>
    </div>
  </nav>
</header>
