@import "../../../styles";

.header {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  max-height: 939px;
  background: url("/assets/img/Imagen-Header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 550px;


  article {

    padding: 100px 150px;
    color: white;
    text-align: center;



    .titulo-header {
      font-family: "Glober-Heavy";
      font-size: $tamañoTitulosGrandes;
    }

    .texto-header {
      font-family: "Glober-Bold";
      font-size: $tamañoTitulosMedianos;
    }

    .texto{
      font-family: "Glober-Heavy";
      font-size: $tamañoTitulosGrandes;
    }
    button {
      padding: 15px 50px;
      border-radius: 40px;
      background: $colorBotonVerde;
      font-family: "Glober-Black";
      font-size: 16px;
      border: none;
      color: white;
      box-shadow: 9px 9px 18px 0px rgba(0,0,0,0.35);

    }
  }

}

