<div class="login">
  <section class="log">
    <form (ngSubmit)="onSubmit(formLogin)" #formLogin="ngForm">
      <h2>Inicia sesión</h2>
      <input [(ngModel)]="usuario.email" type="email" placeholder="email" id="email" name="email" required>
      <input [(ngModel)]="usuario.password" type="password"  placeholder="contraseña" id="password" name="password" required>
      <button class="btn-log" type="submit">Iniciar</button>
      <a class="registrar"> O regístrarte </a>
    </form>
  </section>

  <app-footer-transparent></app-footer-transparent>
</div>

