<div class="new-user">
  <section class="log">
    <form  #formLogin="ngForm">
      <h2>Regístrate</h2>
      <div class="datos">
        <input  type="text" placeholder="nombre" id="nombre" name="nombre" required>
        <div class="sexo">
          <p>sexo</p>
          <input type="radio" name="sexo" value="hombre"> H
          <input type="radio" name="sexo" value="mujer"> M
        </div>
      </div>
      <input  type="email"  placeholder="email" id="email" name="email"  required>

      <div class="datos">
        <input  type="text"  placeholder="fecha de nacimiento" id="fechaNacimiento" name="fechaNacimiento" onfocus="(this.type='date')"  onfocusout="(this.type='text')" required>
        <select  id="pais" name="pais">
          <option selected value="mexico"> México </option>
        </select>
      </div>

      <select  id="perfil" name="perfil">
        <option selected value="inversionista"> Inversionista </option>
        <option selected value="proyectos"> Proyectos </option>
      </select>

      <input  type="text"  placeholder="dirección" id="direccion" name="direccion"  required>

      <button class="btn-log" type="submit">Listo</button>
    </form>
  </section>

  <app-footer-transparent></app-footer-transparent>
</div>
