<app-navbar></app-navbar>

<section class="new-proyect">
  <form  #formLogin="ngForm">
    <h2>Nuevo proyecto</h2>
    <p appDropFile [file]="file" (mouseSobre)="archivoSobreDrop = $event"  [ngClass]="{'file-over': archivoSobreDrop}" >Foto del proyecto </p>
    <!--<input type="text" placeholder="nombre del proyecto" id="nombre" name="nombre" required>
    <input type="text"  placeholder="categoria" id="categoria" name="categoria" required>

    <input type="number"  placeholder="categoria" id="valor" name="valor" required>
    <input type="text"  placeholder="pais" id="pasi" name="pais" required>
    <input type="date"  placeholder="fecha de inicio" id="fechaInicio" name="fechaInicio" required>
    <input type="date"  placeholder="fecha de termino" id="fechaTermino" name="fechaTermino" required>-->
    <div class="btns">
      <button (click)="onSubmit()" class="btn-proy" type="submit">Crear</button>
    </div>

  </form>
</section>

<app-footer></app-footer>
